@use "../../../styles/utils" as *;

.select {
  min-width: 200px;
  height: 32px;
  color: $dark2;
  padding: 3px 6px;
  border: 2px solid $dark2;
  border-radius: 3px;
  cursor: pointer;
  background: $white;
  transition: all 0.2s linear;
  &:hover,
  &:focus {
    color: $dark;
    border: 2px solid $dark;
    background: #fff;
  }
}
