.container {
  max-width: 500px;
}

.title {
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.line {
  margin: 15px auto 0;
  width: 98%;
  height: 2px;
  background: black;
}
