@use "../../../styles/utils" as *;

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .answer {
    @include li-default();
    background: #fff;
  }

  .correct {
    background: #81ffaf;
  }

  .bad {
    background: #ff779e;
  }
}
