@use "../../styles/utils" as *;

.game {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba($white, 0.8);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba($white, 0.3);
    z-index: 1;
  }
}

.progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 5px;

  .line {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: #4996c9;
    background: linear-gradient(to right, $blue, $red);
    transition: width 0.2s linear;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 5px;
  .answer {
    @include li-default();
    background: #fff;
    cursor: pointer;
    transition: all 0.15s linear;
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      box-shadow: none;
    }
  }
}
