@use "../../../styles/utils" as *;

.btnMain {
  &:hover {
    background: $red;
  }
}

.btnInfo {
  &:hover {
    background: #01d3e0;
  }
}

.btnSuccess {
  &:hover {
    background: $blue;
  }
}
