@use "../../styles/utils" as *;

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.image {
  @include flex-center();
  height: 150px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.btn {
  margin-top: 20px;
}
